html, body {
  font-family: sans-serif;
}

.label {
  width: 10em;
  float: left;
}

.form-section {
  clear: both;
}

.input {
  float: left;
}

.hashtag {
  clear: both;
  padding-top: 2em;
}

.hashtag-label {
  margin-bottom: 0.5em;
}

.flickr-image {
  float: left;
  margin-right: 0.5em;
}

.button {
  clear: both;
  margin-bottom: 1em;
}

#loading-image {
  float: left;
  display: none;
  height: 1em;
  line-height: 1em;
  margin-left: 2em;
}

#error {
  color: #FF0000;
  margin-top: 2em;
}

#notice {
  color: #6AA121;
  margin-top: 2em;
}

#message {
  color: #0000FF;
  float: left;
  line-height: 1em;
  height: 1em;
}

#instructions {
  margin-bottom: 1em;
}
